.cell {
    -fx-background-color:  black, -fx-base ;
    -fx-background-insets: 0, 0.3 ;
    -fx-padding: 17;
}

.cell-painted {
    -fx-background-color:  black, -fx-base ;
    -fx-background-insets: 0, 100 ;
    -fx-padding: 17;
}

.cell:right {
    -fx-background-insets: 0, 0 2 0 0 ;
}

.cell:bottom {
    -fx-background-insets: 0, 0 0 2 0 ;
}

.cell:left {
    -fx-background-insets: 0, 0 0 0 2 ;
}

.cell:top {
    -fx-background-insets: 0, 2 0 0 0 ;
}

.cell:top:left {
    -fx-background-insets: 0, 2 0 0 2 ;
}

.cell:top:right {
    -fx-background-insets: 0, 2 2 0 0 ;
}

.cell:left:bottom {
    -fx-background-insets: 0, 0 0 2 2 ;
}

.cell:right:bottom {
    -fx-background-insets: 0, 0 2 2 0 ;
}

.cell .text-field {
    -fx-pref-width: 2em ;
    -fx-pref-height: 2em ;
    -fx-text-box-border: transparent;
}

.cell-painted .text-field {
    -fx-pref-width: 2em ;
    -fx-pref-height: 2em ;
    -fx-text-box-border: transparent;
    -fx-text-fill: white;
}